img.size-full, img.size-large, .wp-post-image, .post-thumbnail img {
	height: auto;
	max-width: 100%;
}

header.container {
	max-height: 240px;
}

.container content {
line-height: 1.75;
}
p {
margin: 0 0 5pt; !important;
}
